[2019-01-01 16:17] pbiswas101 opened #1 "Carmichael Numbers"
### Do the checklist before filing the issue:

- [ ] Is this something you can **debug and fix**?
- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **feature request** that you can add?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it.

- *Give your

[2019-01-02 07:51] pbiswas101 opened #2 "Factorial"
### Do the checklist before filing the issue:

- [ ] Is this something you can **debug and fix**?
- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **feature request** that you can add?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it.

- *Give your

[2019-01-15 08:16] pbiswas101 opened #3 "Improving Test Coverage"
### Do the checklist before filing the issue:

- [ ] Is this something you can **debug and fix**?
- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **feature request** that you can add?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it.

- *Give your

[2019-01-20 06:48] #2 closed

[2019-01-21 00:49] pbiswas101 opened #6 "Catalan Number"
### Do the checklist before filing the issue:

- [ ] Is this something you can **debug and fix**?
- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **feature request** that you can add?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it.

- *Give your

[2019-01-27 13:31] #6 closed

[2019-01-27 14:44] pbiswas101 opened #8 "Kaprekar Number"
### Do the checklist before filing the issue:

- [ ] Is this something you can **debug and fix**?
- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **feature request** that you can add?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it.

- *Give your

[2019-01-28 01:55] #8 closed

[2019-01-28 02:13] pbiswas101 opened #10 "Lucky Numbers"
### Do the checklist before filing the issue:

- [ ] Is this something you can **debug and fix**?
- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **feature request** that you can add?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it.

- *Give your

[2019-01-28 11:03] #10 closed

[2019-01-28 11:17] pbiswas101 opened #12 "Smart Number"
### Do the checklist before filing the issue:

- [ ] Is this something you can **debug and fix**?
- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **feature request** that you can add?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it.

- *Give your

[2019-01-28 11:17] saifnsound commented on #1
Hey,
So to implement the GFG solution which is recursive async/await needs to be used and the current babel setup is I think causing an issue.

This could help:
https://stackoverflow.com/questions/39286051/using-async-await-with-babel-requirebabel-polyfill-line-not-at-the-top-in

[2019-01-28 11:21] pbiswas101 commented on #1
Why do you need async/await? @saifnsound

[2019-01-28 12:01] pbiswas101 commented on #1
Fine! You may configure the babel as mentioned in the link you shared and see if that transpiles `async/await` properly.

[2019-01-28 15:06] #12 closed

[2019-01-28 15:14] pbiswas101 opened #14 "Smith Number"
### Do the checklist before filing the issue:

- [ ] Is this something you can **debug and fix**?
- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **feature request** that you can add?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it.

- *Give your

[2019-01-28 18:21] saifnsound commented on #14
Can I take this issue up? Already sent a PR related to it.

[2019-01-29 03:13] pbiswas101 commented on #14
Sure! Just comment first on the issues you want to work on.

[2019-01-29 04:11] #14 closed

[2019-01-29 04:17] pbiswas101 opened #17 "Deficient Number"
### Do the checklist before filing the issue:

- [ ] Is this something you can **debug and fix**?
- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **feature request** that you can add?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it.

- *Give your

[2019-01-29 11:22] saifnsound commented on #17
I would like to take up this issue. @pbiswas101

[2019-01-31 17:09] AndrewJGregory commented on #3
Hello,

When I ran these tests, I got the following test coverage:

![image](https://user-images.githubusercontent.com/25845622/52071417-ee788d00-2550-11e9-920f-7a9bddc381bb.png)

I guess test coverage has approved a lot in the last 16 days? :)

Should we get test coverage up to 100%? I'm willing to look into that. What do you think?

[2019-01-31 17:18] AndrewJGregory opened #19 "Add Syntactical Highlighting to README"
### Do the checklist before filing the issue:

- [x] Is this something you can **debug and fix**?
- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **feature request** that you can add?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it.

- *Give your

[2019-01-31 17:44] AndrewJGregory opened #20 "Typos of "recieved""
### Do the checklist before filing the issue:

- [x] Is this something you can **debug and fix**?
- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **feature request** that you can add?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it.

- *Give your

[2019-02-01 02:31] pbiswas101 commented on #20
Thank you for pointing this out. Yes, you can work on this @AndrewJGregory

[2019-02-02 00:53] #20 closed

[2019-02-02 00:56] #19 closed

[2019-02-04 14:41] AndrewJGregory commented on #3
If you assign this to me I'll move forward with it

[2019-02-04 14:50] pbiswas101 commented on #3
@AndrewJGregory okay go with it!

[2019-02-13 02:31] knightcube opened #23 "Perfect number"
### Do the checklist before filing the issue:

- [ ] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-02-13 09:28] hiteshpr commented on #17
Is this issue still open?

[2019-02-13 10:22] pbiswas101 commented on #17
Yeah, it's still open @hiteshpr as shown by *up-for-grabs* label!

[2019-02-13 10:23] pbiswas101 commented on #17
Just make a comment that you'll be working on it and I'll remove that label!

[2019-02-13 10:53] hiteshpr commented on #17
@pbiswas101 Please assign this issue to me. I'll work on it.

[2019-02-13 11:06] pbiswas101 commented on #17
@hiteshpr You're assigned!

[2019-02-13 13:21] baibhabmondal commented on #1
is this issue still open? In which case I would like to work on it.

[2019-02-13 15:17] pbiswas101 commented on #1
Yes @baibhabmondal you may work on this!

[2019-02-15 06:13] #23 closed

[2019-02-18 11:10] pbiswas101 commented on #3
A new related issue has been raised!

[2019-02-18 11:10] #3 closed

[2019-02-18 11:32] pbiswas101 opened #27 "Improve Test Coverage (100%)"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-02-18 11:41] pbiswas101 opened #28 "Harshad Number"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-02-18 11:49] pbiswas101 opened #29 "Hoax Number"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-02-18 11:58] pbiswas101 opened #30 "Priority Queue"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-02-18 12:04] pbiswas101 opened #31 "Frugal Number"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-02-18 12:44] pbiswas101 opened #32 "Develop Documentation"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-02-19 02:27] baibhabmondal commented on #31
I would like to take up this issue

[2019-02-19 12:27] monikamaheshwari commented on #28
I would like to take up this issue.

[2019-02-19 12:55] mathgama commented on #28
I can take up this one too (if @monikamaheshwari for some reason give up).

Actually I already fixed it in my fork, but as this is my first time contributing at github, I was incertain if I should claim the issue.

[2019-02-19 18:21] mathgama commented on #29
I would like to take up this issue.

[2019-02-19 19:25] pbiswas101 commented on #31
@baibhabmondal you're assigned

[2019-02-19 19:26] pbiswas101 commented on #28
@mathgama are you participating in GirlScript Summer of Code?

[2019-02-19 19:28] mathgama commented on #28
@pbiswas101 No, I'm not

[2019-02-20 04:49] pbiswas101 commented on #28
@mathgama I'm sorry but this issue is for `gssoc` participants only!

[2019-02-20 08:38] baibhabmondal commented on #31
okay @pbiswas101 thanks

[2019-02-20 12:20] mathgama commented on #28
Thanks @pbiswas101. I also deleted my comment at the Hoax Number issue (it also have the gssoc tag). Hope I can contribute at the future!

[2019-02-20 15:52] thisisabdus commented on #27
Hey @pbiswas101, may I work on this issue?

[2019-02-20 18:44] Ni3verma commented on #29
I would like to work on it

[2019-02-20 19:45] pbiswas101 commented on #29
@Ni3verma You're assigned!

[2019-02-20 19:47] pbiswas101 commented on #27
@thisisabdus Of course! You're assigned

[2019-02-21 09:16] divya7shahi commented on #28
I would like to take this ,issue if first participant give it up,

[2019-02-21 17:33] pbiswas101 commented on #27
This issue is **OPEN** again for it to be claimed!

[2019-02-22 07:47] pbiswas101 opened #34 "Stormer Numbers"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-02-22 07:55] pbiswas101 opened #35 "Bell Number"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-02-22 09:00] pbiswas101 opened #36 "Frequency"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-02-22 09:40] pbiswas101 opened #37 "Radian to Degree & Vice-Versa"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-02-22 11:34] thisisabdus commented on #36
Assign me, please.

[2019-02-22 11:39] naveenk2k opened #38 "Sieve of Eratosthenes"
### Do the checklist before filing the issue:

- [#] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [ ] Is this an **enhancement**?
- [#] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-02-22 15:07] nilshah98 opened #39 "Modular Multiplicative Inverse"
### Do the checklist before filing the issue:

- [ ] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-02-22 15:41] pbiswas101 commented on #39
[Function: **M.modInverse(a, b)**]

**Validation**:
- check for `gcd(a, b) = 1` else return an error indicating that a & b aren't relatively prime!
- check for argument type

Category: Mathematical Utilities

[2019-02-22 16:04] pbiswas101 commented on #38
[Function: **M.rangePrime()**] needs to be added!
For more info:

https://www.geeksforgeeks.org/sieve-of-eratosthenes/

_M.rangePrime()_ needs to accept a positive integer and all other arguments passed should throw a type error which needs to be handled gracefully! It should return an array of numbers!

Implementation:
[code]

Include the function within the same module as `M.isPrime()`

Category

[2019-02-22 16:08] Indrajit1997 commented on #35
I want to work on this @pbiswas101

[2019-02-22 16:09] pbiswas101 commented on #36
@thisisabdus you're assigned!

[2019-02-22 16:09] pbiswas101 commented on #35
@Indrajit1997 you're assigned!

[2019-02-22 16:23] Indrajit1997 commented on #39
@pbiswas101 For this we need to implement a power function with modulo M in  **O(log n)** time.    So, we have to build it as another function of  **MathBall**. Is it okay to make an issue on Power function?
.

[2019-02-22 16:46] pbiswas101 commented on #39
@Indrajit1997 Alright, you can raise an issue discussing its implementation as `M.pow(a, b, m)` with the last parameter being optional! So, that it can also be used as `M.pow(a, b)`

[2019-02-22 18:10] thisisabdus commented on #36
Thank you!

[2019-02-23 17:13] nilshah98 commented on #39
The modular multiplicative inverse can be implemented using Extended Euclid Theorem, which doesn't require any power function with modulo M.

Additionally, here are a few points for implementing modulo multiplicative inverse -
1. First need to check whether the numbers are relatively prime or not, ie. having GCD 1.
2. If GCD is 1, proceed to find the modular multiplicative inverse using Extended E

[2019-02-24 14:57] Dhruvi16 commented on #34
It would be great if you assign me this issue.
_

[2019-02-24 22:25] pbiswas101 commented on #34
@Dhruvi16 You're assigned!

[2019-02-25 13:43] DreadPirateRoberts94 commented on #30
Hi, i'd like to handle this

[2019-02-25 13:48] pbiswas101 commented on #30
@DreadPirateRoberts94 Are you participating in GirlScript Summer of Code 2019?

[2019-02-25 13:51] DreadPirateRoberts94 commented on #30
No i'm not, is it mandatory to participate in order to contribute to the project?

[2019-02-25 13:59] pbiswas101 commented on #30
@DreadPirateRoberts94 Nope! But this particular issue comes under `gssoc19` tag, so it's only for participants and of course, you're welcome to work on issues that don't have the `gssoc19` tag as well as raising new ones!

[2019-02-25 14:02] DreadPirateRoberts94 commented on #30
Ok, sorry i didn't knew that

[2019-02-25 14:05] pbiswas101 commented on #30
I'd encourage you to go through the project and see if you can fix any bugs or propose new enhancements!  And I'll definitely assign you that issue to solve.

[2019-02-26 00:12] #32 closed

[2019-02-26 15:05] bharati-s commented on #37
I would like to work on this @pbiswas101

[2019-02-26 18:02] pbiswas101 commented on #37
@bharati-s You're assigned!

[2019-02-27 09:39] devRD commented on #39
Can I work on this ?

[2019-02-27 10:42] pbiswas101 commented on #39
@devRD You're assigned!

[2019-02-28 15:01] gourabk121 commented on #28
I would like to solve this problem. gssoc19

[2019-02-28 17:14] pbiswas101 commented on #28
@monikamaheshwari You're assigned!

@divya7shahi @gourabk121
If she doesn't provide the PR within 1 day, the issue will be assigned in the order of comment!

[2019-02-28 18:48] sweezy793 commented on #30
Can I work on this issue?

[2019-02-28 19:46] #39 closed

[2019-02-28 19:49] pbiswas101 commented on #30
@sweezy793 You're assigned!

[2019-03-01 06:07] devRD commented on #27
can I work on this?

[2019-03-01 07:31] pbiswas101 commented on #27
@devRD You're assigned but remember the PR will only be merged if you increase the coverage up to 100%

[2019-03-01 08:16] pbiswas101 opened #46 "Nth Padovan Number"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-01 11:18] #35 closed

[2019-03-01 18:06] sweezy793 commented on #46
I would like to work on this

[2019-03-01 18:07] pbiswas101 commented on #30
The issue is open for claiming!

[2019-03-01 19:09] pbiswas101 commented on #46
@sweezy793 You're assigned

[2019-03-01 19:13] pbiswas101 commented on #1
@baibhabmondal your time's up!

The issue is open for claiming!

[2019-03-01 19:15] pbiswas101 commented on #17
@hiteshpr Your time's up!

The issue is open for claiming

[2019-03-01 19:15] pbiswas101 commented on #28
@divya7shahi you're assigned!

[2019-03-01 19:16] pbiswas101 commented on #31
@baibhabmondal your time's up!

The issue is open for claiming

[2019-03-01 19:17] pbiswas101 commented on #34
@Dhruvi16 Your time's up!

The issue is open for claiming

[2019-03-01 19:19] pbiswas101 commented on #37
@bharati-s your time's up!

The issue is open for claiming

[2019-03-01 22:16] #38 closed

[2019-03-02 04:14] Dhruvi16 commented on #34
I am sorry for the delay but I can still work on this as we were supposed to start from 1 March.

[2019-03-02 05:19] Dhruvi16 commented on #34
I am ready with the changes. Can I please make a PR?

[2019-03-02 05:48] vikranthgaddam commented on #37
I would like to work @pbiswas101

[2019-03-02 07:30] baibhabmondal commented on #31
@pbiswas101 I am done with the code. I'll update the readme and index and make a PR asap.

[2019-03-02 11:05] pbiswas101 commented on #31
@baibhabmondal this issue is labeled as `easy` and thus should only take 1 day to fix but you had almost 10 days since you claimed it before GSSoC officially began. That is more than enough time to get your doubts cleared and making a draft PR.

This time, I'm assigning you once more but won't happen for future PRs!

[2019-03-02 11:18] pbiswas101 commented on #34
@Dhruvi16 technically speaking, you had your 1 day for an `easy` issue counting from 1st March. Anyway, I'm giving you a pass since this is your first time contributing to these project! But from next PR onwards, claim an issue only if you're sure you can deliver within the time-frame mentioned in the *guidelines*

[2019-03-02 11:19] pbiswas101 commented on #37
@vikranthgaddam you're assigned!

[2019-03-02 12:55] sateslayer commented on #17
How much time will you be providing for the programming part?

[2019-03-02 12:56] thisisabdus commented on #17
Assign it to me, please.

[2019-03-02 13:39] #27 closed

[2019-03-02 14:02] #36 closed

[2019-03-02 14:04] pbiswas101 commented on #17
@sateslayer 1 day for `beginner` labelled issues as mentioned in *CONTRIBUTING.md*

@thisisabdus You're assigned!

[2019-03-02 14:18] thisisabdus commented on #17
Thank you, Priyabrata!

[2019-03-02 15:56] #46 closed

[2019-03-02 18:24] devRD commented on #1
can I work on this?

[2019-03-02 18:48] thisisabdus commented on #30
Assign it to me, please.

[2019-03-02 18:49] pbiswas101 commented on #1
@devRD You're assigned!

[2019-03-02 18:52] #17 closed

[2019-03-03 06:02] pbiswas101 commented on #30
@thisisabdus you're assigned!

[2019-03-03 12:17] pbiswas101 commented on #28
@divya7shahi your time's up!

[2019-03-03 12:17] pbiswas101 commented on #28
@gourabk121 you're assigned

[2019-03-03 12:24] pydevsg commented on #28
Can, I be assigned this issue if others are unable to complete the task.

[2019-03-03 20:04] pbiswas101 commented on #37
@vikranthgaddam your time's up!

The issue is open for claiming

[2019-03-04 01:56] thisisabdus commented on #37
Assign it to me, please.

[2019-03-04 07:14] pbiswas101 commented on #37
@thisisabdus first fix your PR regarding **PriorityQueue**

[2019-03-04 07:32] #1 closed

[2019-03-04 08:50] pbiswas101 opened #57 "Complex Numbers"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-04 09:40] pbiswas101 opened #58 "Modular Exponentiation"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-04 09:44] Indrajit1997 commented on #58
I want to work on it @pbiswas101

[2019-03-04 09:45] pbiswas101 commented on #58
@Indrajit1997 you're assigned!

[2019-03-04 11:28] pbiswas101 commented on #28
@gourabk121 Your time's up!

@pydevsg You're assigned!

[2019-03-04 12:56] devRD commented on #57
can I work on this?

[2019-03-04 14:21] pbiswas101 commented on #57
@devRD You're assigned!

[2019-03-04 16:37] bharati-s commented on #37
I'd solved this particular issue but couldn't make a PR. Can I  do it now?

[2019-03-04 17:20] pbiswas101 commented on #37
@bharati-s you're assigned and you've to make a PR within a day

[2019-03-05 09:28] pbiswas101 commented on #58
@Indrajit1997 your time's up!

The issue is open again

[2019-03-05 09:57] pbiswas101 opened #62 "Range of Fibonacci Numbers"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-05 10:17] thisisabdus commented on #62
Assign this to me, please(if my pr gets approved, obviously).

[2019-03-05 10:18] pbiswas101 commented on #62
Sure, but if someone else claims before your PR gets merged, he/she will be assigned.

[2019-03-05 10:52] pydevsg commented on #62
Can I work on this issue please @pbiswas101 , if no one has been assigned this issue.

[2019-03-05 11:25] pbiswas101 commented on #62
@pydevsg first fix your current PR!

[2019-03-05 11:27] #30 closed

[2019-03-05 11:31] pbiswas101 commented on #62
@thisisabdus you're assigned!

[2019-03-05 11:34] pbiswas101 commented on #29
@Ni3verma your time's up!

The issue is open for claiming

[2019-03-05 11:36] pbiswas101 commented on #31
@baibhabmondal your time's up! Please claim a different issue to work on...

This issue is open for claiming

[2019-03-05 11:58] thisisabdus commented on #62
Thank you!

[2019-03-05 12:13] sateslayer commented on #58
I would like to work on this one.

[2019-03-05 13:57] pbiswas101 commented on #58
@sateslayer you're assigned

[2019-03-05 14:00] pydevsg commented on #57
Can, I be assigned this issue @pbiswas101 .

[2019-03-05 14:04] pydevsg commented on #31
I would like to work on this issue, if given so @pbiswas101 .

[2019-03-05 14:10] pydevsg commented on #29
I would like to work on this issue , if given so @pbiswas101 .

[2019-03-05 14:22] pbiswas101 commented on #57
@pydevsg Nope! Since it doesn't have the `up-for-grabs` label.

[2019-03-05 14:24] pbiswas101 commented on #29
@pydevsg you're assigned!

[2019-03-05 14:24] pydevsg commented on #57
Okay, I understand @pbiswas101 .

[2019-03-05 14:25] pydevsg commented on #29
Thanks, @pbiswas101 .

[2019-03-05 14:32] vips28 commented on #31
Can I work on this issue?

[2019-03-05 14:33] sateslayer commented on #58
I'm not able to make a pull request for some reason. It keeps saying:
            There isn’t anything to compare.
pbiswas101:master and sateslayer:master are entirely different commit histories.

[2019-03-05 15:18] pbiswas101 commented on #31
@vips28 you're assigned!

[2019-03-05 15:18] #28 closed

[2019-03-05 15:20] pbiswas101 commented on #58
@sateslayer have you added your changes, like `git add .` before committing! And also name your modules as **pow** & **pow-spec.js**

[2019-03-05 15:21] pbiswas101 commented on #58
@sateslayer you should also make your commits on a different branch

[2019-03-05 16:39] nilshah98 opened #66 "Calculating M.nCr(n,r)"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-05 17:02] sateslayer commented on #66
I would like to work for this

[2019-03-05 17:55] pbiswas101 commented on #66
@sateslayer first fix your PR according to the changes requested!

[2019-03-05 18:02] sateslayer commented on #66
Of course. This is the first time working with ES6, so I have very less idea where I am going wrong. Feel free to tell me if you find me unsuitable for your project.

[2019-03-06 02:37] viditkumar commented on #62
Hi! Could I work on this issue, if the solution is yet to be merged?

[2019-03-06 03:10] viditkumar commented on #66
Hi! Could you please assign this issue to me? I would be glad to work on this one.

[2019-03-06 04:06] pbiswas101 commented on #66
@viditkumar you're assigned!

[2019-03-06 06:07] #62 closed

[2019-03-06 06:10] rishabh-malik opened #69 "Directed Graphs"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-06 09:35] sateslayer commented on #37
Is this issue fixed?

[2019-03-06 10:04] pbiswas101 commented on #37
@sateslayer nope its not!

[2019-03-06 10:15] sateslayer commented on #37
Can I work on it, now that I'm done on pow?

[2019-03-06 15:34] pbiswas101 commented on #34
@Dhruvi16 you time's up and please claim a different issue!

[2019-03-06 16:36] pydevsg commented on #34
I would like to work on this issue @pbiswas101 after my PR gets merged.

[2019-03-06 17:35] sateslayer commented on #58
Can I just do it again?
With all the requested changes in one go?

[2019-03-07 03:29] thisisabdus commented on #34
Hey, I wanna work on this issue. Assign it to me, please.

[2019-03-07 04:52] pbiswas101 commented on #58
@sateslayer sure!

[2019-03-07 04:54] pbiswas101 commented on #31
@vips28 your time's up!

[2019-03-07 04:55] pbiswas101 commented on #31
The issue is open for claiming

[2019-03-07 04:56] pbiswas101 commented on #34
@thisisabdus you're assigned!

[2019-03-07 05:59] thisisabdus commented on #34
Thank you.

[2019-03-07 09:56] sateslayer commented on #58
I will restructure everything properly and submit within 24 hours

[2019-03-07 11:04] sateslayer commented on #31
I would like to claim the issue

[2019-03-07 13:15] harshmandalgi commented on #31
I would like to work on this too.

[2019-03-07 13:16] harshmandalgi commented on #69
I would like to claim this issue

[2019-03-07 14:56] #58 closed

[2019-03-07 15:00] pbiswas101 commented on #31
@sateslayer you're assigned!

[2019-03-07 15:02] pbiswas101 commented on #69
@harshmandalgi you're assigned!

[2019-03-07 15:07] pbiswas101 commented on #37
@bharati-s your time's up and please claim a different issue!

[2019-03-07 15:12] pbiswas101 opened #76 "Range of Palindromes"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-07 15:28] pydevsg commented on #76
I would like to take this issue.

[2019-03-07 18:11] devRD commented on #57
thanks 😊

[2019-03-08 01:48] #57 closed

[2019-03-08 05:25] thisisabdus commented on #34
This issue is up for grab. I am not working on it.

[2019-03-08 14:00] sateslayer commented on #31
I will need a little bit more time, because I'm stuck with the testing part.
I could only start working now due to my exams. I can finish it tonight. Will I be given more time?

[2019-03-08 14:00] sateslayer commented on #31
I will need a little bit more time, because I'm stuck with the testing part.
I could only start working now due to my exams. I can finish it tonight. Will I be given more time?

[2019-03-08 14:05] pbiswas101 commented on #31
@sateslayer okay finish it by tonight!

[2019-03-08 14:05] sateslayer commented on #31
Thanks a lot

[2019-03-08 15:53] sateslayer commented on #37
Can I claim this issue?

[2019-03-08 19:13] sateslayer commented on #37
Also can we name the function as "toRadians" and "toDegrees", because that would be more intuitive to the users

[2019-03-08 19:39] sateslayer commented on #76
What is this function supposed to do exactly?
Just curious.

[2019-03-08 19:41] sateslayer commented on #34
I would like to work on this.
P.S. I have already written the codes for radian() and degree(). Waiting for your clarification over there, before submission.

[2019-03-09 01:15] nilshah98 commented on #76
*It should return an array of palindrome numbers, that lies between 0 & the argument (inclusive).*

[code]

[2019-03-09 01:24] nilshah98 opened #84 "All permutations of a string"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-09 01:38] #66 closed

[2019-03-09 03:14] #31 closed

[2019-03-09 03:16] pbiswas101 commented on #37
@sateslayer you're assigned! And yes, name the functions like you mentioned but the module name should be, `radian`, `degree`, `radian-spec.js` & `degree-spec.js`

[2019-03-09 03:23] pbiswas101 commented on #34
@sateslayer I would suggest not to claim an issue before your current PR gets merged!

[2019-03-09 04:34] sateslayer commented on #37
Ok

[2019-03-09 04:34] sateslayer commented on #34
All right no problem!

[2019-03-09 05:06] sateslayer commented on #37
For some reason people have numbered the links wrong in the README.md . I will be modifying that too.

[2019-03-09 07:01] pbiswas101 commented on #34
@sateslayer You're assigned! But from next time onwards please claim an issue after your PR is merged!

[2019-03-09 07:01] #37 closed

[2019-03-09 07:14] sateslayer commented on #34
Yeah sure

[2019-03-09 09:45] sateslayer commented on #76
I would like to claim this issue.

[2019-03-09 10:02] #34 closed

[2019-03-09 10:08] pbiswas101 commented on #76
@sateslayer you're assigned!

[2019-03-09 10:17] sateslayer commented on #76
Can I suggest an update for this issue:

Instead of starting from zero, we can start from a user entered number. Like: rangePal(5,20)
This can add flexibility to the function.

[2019-03-09 10:19] pbiswas101 commented on #76
@sateslayer Cool. Implement it as you suggested!

[2019-03-09 10:19] sateslayer commented on #76
Okay!

[2019-03-09 10:19] pbiswas101 commented on #76
Name it as `rangePlaindrome()` as the shorter one might be confusing

[2019-03-09 10:41] pbiswas101 opened #87 "Ugly Numbers"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-09 10:43] pbiswas101 commented on #29
@pydevsg your time's up!

[2019-03-09 11:57] sateslayer commented on #87
I would like to claim this issue.

[2019-03-09 12:05] sateslayer commented on #29
I would like to grab this issue.

[2019-03-09 13:16] pydevsg commented on #87
I would like to work on this issue

[2019-03-09 15:32] pbiswas101 commented on #87
@pydevsg you're assigned!

The task is to find the nth ugly number as specifically stated within the category section! Do this by implementing the most optimized algorithm.

[2019-03-09 16:20] sateslayer commented on #87
Thanks for the clarification pydevsg and pbiswas101 :-)

[2019-03-09 18:30] sweezy793 commented on #84
I would like to work on this issue.

[2019-03-09 19:42] thisisabdus commented on #29
I see @sateslayer is working on another issue. Assign this to me if possible.

[2019-03-10 05:13] #76 closed

[2019-03-10 05:14] pbiswas101 commented on #84
@sweezy793 you're assigned!

[2019-03-10 05:20] pbiswas101 commented on #29
@sateslayer since you have implemented the approved changes in your last PR 13 hours ago, and by commenting on this issue 17 hours ago technically states that you actually claimed before you created a valid PR. So, I'm assigning this to @thisisabdus

[2019-03-10 05:25] sateslayer commented on #29
Sure no problem.

[2019-03-10 08:05] sateslayer opened #89 "Add stacks data structure"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-10 12:15] pbiswas101 commented on #89
@sateslayer will you be working on this?

[2019-03-10 12:16] pbiswas101 commented on #69
@harshmandalgi your time's up!

[2019-03-10 14:21] sateslayer commented on #89
Yes I will work on it.

[2019-03-10 15:21] pbiswas101 commented on #89
@sateslayer Implement it like `PriorityQueue`

[2019-03-10 17:13] #89 closed

[2019-03-10 17:14] sateslayer commented on #69
I would like to work on this

[2019-03-10 17:21] pbiswas101 commented on #87
@pydevsg your time's up!

[2019-03-10 18:36] pbiswas101 commented on #69
@sateslayer you're assigned!

[2019-03-10 18:39] #29 closed

[2019-03-11 01:11] thisisabdus commented on #87
Assign this to me, please.

[2019-03-11 03:10] pbiswas101 commented on #87
@thisisabdus you're assigned!

[2019-03-11 08:39] sateslayer commented on #69
Do I need to implement Breadth-first search and Depth-first search?

[2019-03-11 08:52] pbiswas101 commented on #84
@sweezy793 are you participating in GirlScript Summer of Code?

[2019-03-11 09:04] pbiswas101 opened #93 "Triangular Numbers"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-11 09:14] sweezy793 commented on #84
Yes

[2019-03-11 09:15] pbiswas101 commented on #69
@sateslayer do it with BFS

[2019-03-11 09:55] sateslayer commented on #69
I haven't learnt Graphs in details yet; what do you mean "do it with BFS"? I mean what does 'it' refer to?
I have currently implemented addEdge, addVertex, removeEdge, removeVertex.

[2019-03-11 09:57] pbiswas101 commented on #69
@sateslayer I meant implement BFS only!

[2019-03-11 09:59] pbiswas101 commented on #84
Okay!

[2019-03-11 09:59] sateslayer commented on #69
Oh OK

[2019-03-11 10:00] pbiswas101 commented on #84
@sweezy793 make a different PR which doesn't modify package-lock.json! One thing you can do is pull all the latest changes and replace your `package-lock.json` with mine by just copy and pasting its contents before switching to your working branch

[2019-03-11 10:39] sateslayer commented on #69
Should I limit the elements of the graphs to numbers?
Or can I leave it open to strings too?

[2019-03-11 10:44] pbiswas101 commented on #69
@sateslayer make it open for strings too!

[2019-03-11 10:47] sateslayer commented on #69
Then there is no validation required. Am I right?

[2019-03-11 11:01] naveenk2k commented on #93
Hey, can I work on this?

[2019-03-11 11:06] rishabh-malik commented on #69
@sateslayer you have a make a template class which means it should accept any datatype. Hope it helps.

[2019-03-11 12:04] sateslayer commented on #69
Yeah, thanks

[2019-03-11 12:56] sateslayer commented on #69
Can someone help me with this error? I ran the program separately, it worked perfectly fine. However the Istanbul report seems to fond some weird error which I am not understanding.
Here is the error:

 1) [Function: Graph]
       should return '[ 'A', 'B', 'D', 'C', 'E' ]' type when 'bfs('A')' is called:

      AssertionError [ERR_ASSERTION]: Expected "actual" to be reference-equal to "expected":

[2019-03-11 12:58] devRD commented on #69
Check the strictEqual condition properly

[2019-03-11 14:47] sateslayer commented on #69
It produces exactly the same thing.
In fact I copy-pasted the output for the test case.

[2019-03-11 14:48] devRD commented on #69
what output does it give when you call the function individually?

[2019-03-11 15:00] pbiswas101 commented on #93
@naveenk2k this issue is only for `gssoc19` participants.

[2019-03-11 15:01] pbiswas101 commented on #93
I would encourage you to raise an issue by yourself to work on!

[2019-03-11 15:04] #84 closed

[2019-03-11 15:06] naveenk2k commented on #93
Ah alright, will do!

[2019-03-11 15:36] sateslayer commented on #69
[ 'A', 'B', 'C', 'D', 'E' ]

[2019-03-11 16:50] viditkumar commented on #93
Could you please assign this to me, if I am eligible?

[2019-03-11 16:58] nilshah98 opened #95 "Fast Matrix Exponentiation"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-11 17:03] nilshah98 opened #96 "Matrix Multiplication"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-11 17:39] baibhabmondal opened #97 "Improving Prime Numbers"
### Do the checklist before filing the issue:

- [yes ] Do you have Node.js and all the relevant dev-dependencies installed?
- [ no] Is this a **bug fix**?
- [yes ] Is this an **enhancement**?
- [ no] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along wit

[2019-03-11 17:39] baibhabmondal commented on #97
I would like to work on this.

[2019-03-11 17:40] pbiswas101 commented on #93
@viditkumar are you a `gssoc19` participant?

[2019-03-11 17:49] pbiswas101 commented on #69
@sateslayer check your `src/index.js` file for any uncommon **semicolon** or **comma**!

[2019-03-11 18:05] viditkumar commented on #93
No, I'm not. But if you get no one, you can assign it to me.

[2019-03-11 18:44] devRD commented on #93
can I work on this?

[2019-03-11 18:59] pbiswas101 commented on #93
@devRD You're assigned!

[2019-03-11 19:44] sateslayer commented on #69
I have verified these issues several times. There is seems to be some problem with the usage of the function assertEqual. I have replaced it with deepEqual and changed the ordering of the  test cases, which was the bug. Thank you all for your help

[2019-03-11 19:53] sateslayer commented on #96
Will the data type of the elements of the matrices matter in JavaScript?
Because all variables are of type float/double.

[2019-03-11 20:11] #87 closed

[2019-03-12 04:27] nilshah98 commented on #96
The number of columns *(ie. number of elements in each row)* must be same.
The number of rows is the number of arrays in the main root array.

The contents of each array can be any number or float, positive or negative, it can't be a string or a boolean or another array *(for now, dealing with 2D matrices here)*

[2019-03-12 07:31] sateslayer commented on #96
I will work on this

[2019-03-12 07:41] #69 closed

[2019-03-12 07:41] #93 closed

[2019-03-12 07:57] pbiswas101 commented on #96
@sateslayer you're assigned

[2019-03-13 08:38] #96 closed

[2019-03-13 12:41] sateslayer commented on #95
I will grab this issue.

[2019-03-14 05:11] pbiswas101 commented on #95
@sateslayer you're assigned!

[2019-03-14 05:26] #97 closed

[2019-03-14 14:54] devRD opened #104 "Matrix Chain Multiplication"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-14 14:55] devRD commented on #104
I would like to work on this

[2019-03-15 04:47] pbiswas101 opened #106 "Find Average"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-15 05:04] Manvityagi commented on #106
Hey! I want to work on this!

[2019-03-15 05:11] pbiswas101 opened #107 "Implement Count Feature"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-15 05:14] pbiswas101 opened #108 "Find Median"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-15 05:15] pbiswas101 commented on #106
@Manvityagi you're assigned!

[2019-03-15 05:45] pbiswas101 opened #109 "Implement 'M.find()'"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-15 05:46] sateslayer commented on #107
I will work on this. One doubt: By assigning this an easy tag, do you mean we will merely copy the existing code and add the part for objects?

[2019-03-15 05:50] pbiswas101 commented on #107
@sateslayer Yes, that's why it is labeled `easy` but do give extra care as validation cases won't be the same! You also need to make some modifications.

You're assigned!

[2019-03-15 05:51] #95 closed

[2019-03-15 05:51] sateslayer commented on #107
Sure

[2019-03-15 05:52] sateslayer commented on #108
A suggestion: We can implement a general findRank() function first and then use it for this function.

[2019-03-15 05:55] pbiswas101 commented on #108
@sateslayer what does that function would do?

[2019-03-15 06:05] pbiswas101 opened #110 "Implement 'M.range()'"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-15 06:09] sateslayer commented on #108
Find the number present in the array at any valid rank in O(n) time.

Rank(x) = 1 + {number of numbers >= x)

example:
arr = [1, 5, 2, 7, 2, 8]
findElementAtRank(3) = 5;
findElementAtRank(arr.length) = 1
findElementAtRank(4) = none //Error
findElementAtRank(5) = 2  //Both the two's hold equal rank/priority

Therefore,
findMedian(arr) = findElementAtRank(arr.length/2); //Separate handling for odd n

[2019-03-15 06:23] pbiswas101 opened #111 "Implement 'M.check()'"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-15 06:26] #104 closed

[2019-03-15 08:02] pbiswas101 opened #112 "Arithmetic Modules"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-15 08:09] pbiswas101 opened #113 "Prime Factorization"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-15 08:48] devRD commented on #112
can I work on this?

[2019-03-15 09:09] pbiswas101 commented on #112
@devRD you're assigned!

[2019-03-15 13:51] thisisabdus commented on #111
Assign this to me, please.

[2019-03-15 14:41] pbiswas101 commented on #111
@thisisabdus you're assigned!

[2019-03-15 15:25] tipavlos commented on #113
I am new to github and i would like to work on this. This seems easy , I think you have to replace every print command with array.push

[2019-03-15 15:38] pbiswas101 commented on #113
@tipavlos are you a `gssoc19` participant?

[2019-03-15 15:39] tipavlos commented on #113
I'm not.

[2019-03-15 15:44] pbiswas101 commented on #113
@pbiswas101 I'm really sorry but this issue is labeled as `gssoc19` and is only for the participants. If you want to contribute, you're more than welcome to raise a new issue and comment that you wanna work on it. I'll be happy to assign it.

**Tips for raising valid issues**: Go through the codebase and review closed issues for more insights as what kind of features go along with mathball.

[2019-03-16 05:18] sateslayer opened #115 "Implement a function to find element at any rank."
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-16 05:20] sateslayer commented on #115
I will work on this if you approve of it.

[2019-03-16 06:34] #107 closed

[2019-03-16 07:15] sateslayer commented on #115
Yes

[2019-03-16 07:35] pbiswas101 commented on #115
Why the element at rank 2 is 5, cause 5 isn't present in the array!

[2019-03-16 07:37] sateslayer commented on #115
Oh my bad, the ranks are all integers. So we round **up** the fractional ranks.

[2019-03-16 07:39] pbiswas101 commented on #115
For this array, [1, 5, 3, 8, 1, 3, 3]. Let me know, what's the rank of all the elements!

[2019-03-16 07:40] sateslayer commented on #115
OK!
8 is at rank 1.
5 at rank 2.
3 at rank 5.
1 at rank 7.

[2019-03-16 07:42] pbiswas101 commented on #115
Alright, got it!

[2019-03-16 07:45] pbiswas101 commented on #115
So, shall I get 1 at rank 6, or 3 at rank 4 & 3?

[2019-03-16 07:47] sateslayer commented on #115
Rank 6 will be an invalid input.

[2019-03-16 07:49] sateslayer commented on #115
Any rank values apart from these will be considered invalid.

[2019-03-16 07:50] pbiswas101 commented on #115
Alright! Implement it like this:
[code]

[2019-03-16 07:51] sateslayer commented on #115
All right. Thanks!

[2019-03-16 07:54] #106 closed

[2019-03-16 08:38] Manvityagi commented on #108
I Wanna take up this issue @pbiswas101 !

[2019-03-16 09:45] gourabk121 commented on #113
I would like to solve this

[2019-03-16 09:55] Manvityagi commented on #109
Can I work on this? @pbiswas101

[2019-03-16 10:00] pbiswas101 commented on #113
@gourabk121 first confirm if you're a *gssoc* participant!

[2019-03-16 10:01] pbiswas101 commented on #109
@Manvityagi You're assigned!

[2019-03-16 10:03] pbiswas101 commented on #108
@Manvityagi please don't comment under every issue, I've assigned you #109 as per your latest comment. First, decide which one you would like to work on and then claim that issue.

[2019-03-16 10:35] Manvityagi commented on #108
I would like to first work on this as I have already almost completed it!

[2019-03-16 12:06] sweezy793 commented on #113
I would like to work on this.

[2019-03-16 12:48] pbiswas101 commented on #108
@Manvityagi why did you started working before being assigned? I'm sorry but first complete the other one and then if no one else claims this issue by then, I'll assign this one to you.

[2019-03-16 12:50] pbiswas101 commented on #113
@sweezy793 you're assigned.

[2019-03-16 13:27] Manvityagi commented on #108
okay!!

[2019-03-16 15:55] gourabk121 commented on #113
yes i'm

[2019-03-16 16:08] #109 closed

[2019-03-16 16:09] pbiswas101 commented on #108
@Manvityagi you're assigned!

[2019-03-16 16:26] sweezy793 commented on #113
I've already been assigned this issue and I will be opening a PR soon.

[2019-03-16 16:27] nilshah98 opened #118 "Euler's Totient function"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [ ] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-16 18:02] pbiswas101 commented on #113
@gourabk121 confirm your slack username!

[2019-03-16 19:13] #113 closed

[2019-03-16 19:15] Manvityagi commented on #118
Can I work on this ?

[2019-03-16 19:24] pbiswas101 commented on #118
@Manvityagi first complete your current PR!

[2019-03-16 19:36] Manvityagi commented on #118
yeah sure! I thought it was done! but found merge conflicts later.

[2019-03-17 04:12] sateslayer commented on #115
Wait where is the input for the array? What exactly does rankify do?

[2019-03-17 05:08] sateslayer commented on #115
Hey, @pbiswas101  I don't think I will be able to complete it within the stipulated time. I have too many projects to complete. I am extremely sorry :-/ .

[2019-03-17 06:01] #108 closed

[2019-03-17 06:02] pbiswas101 commented on #118
@Manvityagi you're assigned!

[2019-03-17 06:04] pbiswas101 commented on #111
@thisisabdus your time's up!

[2019-03-17 06:26] pbiswas101 commented on #115
@sateslayer No problem! I can extend the time until 11:59 pm  if  you want!

[2019-03-17 12:15] rishabh-malik opened #123 "Implement a function to find the minimum element in a sorted and rotated array."
### Do the checklist before filing the issue:

- [ ] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [ ] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-17 13:00] thisisabdus commented on #111
Hey
I am reclaiming this issue. I was busy with some other stuffs.

[2019-03-17 13:17] somya-kapoor commented on #123
hey, can I work on this? I am a GSSoC participant.

[2019-03-17 14:56] Manvityagi commented on #110
May I work on this?

[2019-03-17 15:58] pbiswas101 commented on #111
@thisisabdus okay I giving you another shot at this but please don't claim any issue if you're not sure you'll be able to resolve it within the stipulated time!

[2019-03-17 16:02] #123 closed

[2019-03-17 17:05] sateslayer commented on #115
Um no use, I was busy till now for some project.

[2019-03-17 18:15] sateslayer commented on #115
The problem is not with the time, but the code to be honest. My program which works perfectly in C is not working in JavaScript. I am searching for possible bugs, but I'm unsuccessful till now.

[2019-03-17 18:43] sateslayer commented on #115
I have implemented the code, it's working but with slight variations to the definitions I have described above. However I don't think my code is worth adding to Mathball, because it's unstable. I suggest you close this issue or assign it to someone else.

[2019-03-17 19:26] pbiswas101 commented on #115
@sateslayer No problem.

[2019-03-17 19:28] #118 closed

[2019-03-17 19:29] pbiswas101 commented on #110
@Manvityagi you're assigned

[2019-03-17 20:59] thisisabdus commented on #111
A few things comes in an unexpected way!

[2019-03-18 07:55] #111 closed

[2019-03-18 08:00] #110 closed

[2019-03-18 18:43] nilshah98 opened #127 "Clean Nth Catalan Number"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-18 23:56] pbiswas101 opened #128 "Fibbinary Numbers"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-19 00:17] pbiswas101 opened #129 "Count Set Bits"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-19 03:02] sateslayer commented on #128
I'll work on this

[2019-03-19 03:53] pbiswas101 commented on #128
@sateslayer you're assigned

[2019-03-19 15:21] pydevsg commented on #129
I would like to work on this issue.

[2019-03-19 17:03] #128 closed

[2019-03-19 17:03] pbiswas101 commented on #129
@pydevsg you're assigned

[2019-03-19 17:17] punkstar25 commented on #129
can i work on this issue..

[2019-03-19 17:18] pbiswas101 commented on #129
@punkstar25 this one is already assigned to @pydevsg

[2019-03-19 18:11] sateslayer commented on #115
Can I implement the normal way to do this? It will be O(n*log n) because it involves sorting. If I can get the O(n) algorithm working some other time, I'll update it(outside of GsSOC issues).

[2019-03-20 05:59] pbiswas101 commented on #115
@sateslayer sure! You're assigned

[2019-03-20 06:10] #112 closed

[2019-03-21 11:37] pydevsg commented on #127
I am interested to work on this issue @nilshah98 , but before assigning can you please explain what I need to resolve for solving this issue ,thanks.

[2019-03-21 14:41] nilshah98 commented on #127
Check the code for Catalan Number, it uses nCr, but it is actually written as a whole.
The task here is to reduce the redundancy and use the nCr function, instead of actually writing the whole function.

[2019-03-22 09:20] pbiswas101 opened #135 "Reorganize Number Modules"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-22 09:43] #129 closed

[2019-03-22 09:57] pbiswas101 commented on #127
@pydevsg will you be working on this?

[2019-03-22 10:00] devRD commented on #135
can I work on this?

[2019-03-22 10:06] pbiswas101 commented on #135
@devRD you're assigned!

[2019-03-22 10:16] pbiswas101 opened #136 "Method Verification"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [x] Is this a **bug fix**?
- [ ] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-22 18:37] pydevsg commented on #127
Yes, I would like to grab this issue @pbiswas101.

[2019-03-22 19:28] atsutton commented on #136
Hello, I'd like to take a crack at this bug. Is that alright?

[2019-03-23 08:24] pbiswas101 commented on #127
@pydevsg you're assigned!

[2019-03-23 08:26] pbiswas101 commented on #136
@atsutton this issue is only for `gssoc19` participants!

[2019-03-23 08:28] pbiswas101 commented on #115
@sateslayer your time's up!

[2019-03-23 08:39] #135 closed

[2019-03-23 17:56] robotjellyzone commented on #136
Hello!! i would like to work on it please assign it to me!!

[2019-03-23 17:58] pbiswas101 commented on #136
@robotjellyzone you're assigned

[2019-03-24 10:47] nilshah98 commented on #127
You need to make changes to the existing catalan number file, and not make a new one.
`src\catalan\index.js` make changes to this.

[2019-03-24 10:59] pydevsg commented on #127
Oh, sorry I took it in a different way , I will come up with a new PR .

[2019-03-24 11:02] nilshah98 commented on #127
Cools!

[2019-03-26 08:25] pbiswas101 commented on #136
@robotjellyzone your time's up!

[2019-03-26 09:08] pbiswas101 opened #140 "Conversion Module"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-26 10:35] pbiswas101 opened #141 "Implement new data structure: Matrix"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-26 10:37] devRD commented on #141
can I work on this?

[2019-03-26 10:38] pbiswas101 commented on #141
@devRD you're assigned!

[2019-03-26 15:07] pbiswas101 opened #142 "Documentation: Max & Min"
### Do the checklist before filing the issue:

- [ ] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-26 16:21] thisisabdus commented on #140
Assign it to me, Please.

[2019-03-26 16:27] pbiswas101 commented on #140
@thisisabdus you're assigned!

[2019-03-27 04:15] vsharma20v commented on #142
@pbiswas101 I would like to work on this issue.

[2019-03-27 04:28] pbiswas101 commented on #142
@vsharma20v  you're assigned!

[2019-03-28 13:40] #142 closed

[2019-03-28 13:51] pbiswas101 opened #144 "Docs: LCM & GCD"
### Do the checklist before filing the issue:

- [ ] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-28 14:01] sateslayer commented on #144
I'll work on this

[2019-03-28 14:05] pbiswas101 commented on #144
@sateslayer you're assigned!

[2019-03-28 20:14] AishwaryaDASH commented on #115
Can i work on this issue?

[2019-03-29 03:26] nilshah98 opened #146 "Optimising Fibonacci Number"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-03-29 04:32] pbiswas101 commented on #140
@thisisabdus your time's up! Please claim a different issue other than this one.

[2019-03-29 04:33] pbiswas101 commented on #127
@pydevsg your time's up!

[2019-03-29 04:36] pbiswas101 commented on #115
@AishwaryaDASH can you confirm your `gssoc19` slack username?

[2019-03-29 04:41] AishwaryaDASH commented on #115
My username is Aishwarya(P). I joined the Mathball channel just today.

[2019-03-29 05:01] pbiswas101 commented on #115
@AishwaryaDASH okay, you're assigned!

[2019-03-29 05:04] #141 closed

[2019-03-29 07:25] Ameenasuhani commented on #146
Can i work on this?

[2019-03-29 10:29] pbiswas101 commented on #146
@Ameenasuhani you're assigned!

[2019-03-29 13:09] sateslayer commented on #144
Hey, uh I might need time till 9pm tonight. Is that fine?

[2019-03-29 14:37] sateslayer commented on #140
Only reuse the degree and radian modules which exist in the current version of Mathball right?

[2019-03-29 14:51] sateslayer commented on #127
I would like to claim this issue.

[2019-03-29 15:21] #144 closed

[2019-03-29 15:22] pbiswas101 commented on #140
@sateslayer nope... rather delete those modules and rewrite their implementation within this one!

[2019-03-29 15:23] pbiswas101 commented on #127
@sateslayer you're assigned

[2019-03-30 03:12] sateslayer commented on #140
Ok, so only radian to degree and vice-versa?
If so, i'll claim this isssue.

[2019-03-30 05:09] sateslayer commented on #140
So trim needs to be implemented along with degree/ radian functions within the same file; along with provisions for future conversions?

[2019-03-30 05:10] #127 closed

[2019-03-30 05:11] pbiswas101 commented on #140
Yes! @sateslayer

[2019-03-30 05:13] sateslayer commented on #140
I will like to claim this issue then

[2019-03-30 05:14] pbiswas101 commented on #140
@sateslayer you're assigned

[2019-03-30 06:30] sateslayer commented on #140
One doubt: Optional chaining is not a part of JavaScript yet, is it?

[2019-03-30 07:10] pbiswas101 commented on #140
@sateslayer okay make `trim`the third parameter, and yes it is supposed to round-off

[2019-03-30 10:28] sateslayer commented on #140
All right,please modify the issue statement above. The expected answer(in comments) are merely truncation and not round-off.

[2019-03-30 20:17] devRD commented on #136
can I work on this?

[2019-03-31 05:24] sateslayer commented on #140
Does convert() go into the Numbers' Problem section?

[2019-03-31 06:38] pbiswas101 commented on #136
@devRD you're assigned

[2019-03-31 06:54] pbiswas101 commented on #140
@sateslayer no, it doesn't

[2019-03-31 06:55] pbiswas101 commented on #115
@AishwaryaDASH your time's up!

[2019-03-31 06:56] pbiswas101 commented on #146
@Ameenasuhani your time's up!

[2019-03-31 07:14] Manvityagi commented on #146
Can I take this ?

[2019-03-31 07:14] pbiswas101 commented on #146
@Manvityagi you're assigned

[2019-03-31 07:24] #136 closed

[2019-04-08 04:44] sakshichahal53 opened #152 "Sort a matrix row-wise / column-wise"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [ ] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-08 04:46] sakshichahal53 commented on #152
Hi @pbiswas101 , I'd like to work on this issue.

[2019-04-09 05:39] chichra commented on #152
This sorting based on rows and columns, is needed a lot when working with large data. I would also like to contribute @pbiswas101

[2019-04-09 07:59] pbiswas101 commented on #152
@sakshichahal53 you're assigned!

if 'a' is a matrix, then implement it like so:
[code]

[2019-04-09 08:02] pbiswas101 commented on #152
@chichra this issue is already assigned to @sakshichahal53 who claimed it first

[2019-04-09 09:08] #146 closed

[2019-04-09 12:04] sakshichahal53 commented on #152
@pbiswas101, how do we use it with a mathball object?
Sorting of an array is written as :
`M.sort(a,false);`
Could we add two more arguements?
(a) an **_int_** for the dimension
(b) a **_character_** for row/column-wise sorting  ['r','c']

[2019-04-10 09:36] sateslayer commented on #115
I believe this issue is pretty useless if it can't be implemented with efficient time complexity.

[2019-04-10 13:24] pbiswas101 commented on #152
@sakshichahal53 include the sort method in the Matrix constructor, which will be different from `M.sort()`

[2019-04-11 15:27] #140 closed

[2019-04-12 06:16] sakshichahal53 opened #157 "Updating docs for Matrix class"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-12 14:48] sateslayer opened #158 "Implement Tree data structure"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [ ] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-12 14:50] sateslayer commented on #158
I would like to work on this if you accept the issue.

[2019-04-12 19:02] sakshichahal53 commented on #157
I'd like to work on it. I believe I'll need more time for this.

[2019-04-13 06:05] pbiswas101 commented on #158
@sateslayer you're assigned.

[2019-04-13 13:41] sateslayer commented on #158
I've have some doubts regarding the validation which I'm supposed to provide:
1. How do I check whether a node actually exists in the tree or not? - In a binary tree this is simply a matter of going left or right. Here there might be unknown number of nodes which makes traversal much harder

This is why I thought of _changing this issue to the implementation_ to only **binary trees**  instead of g

[2019-04-14 05:07] chichra opened #159 "Given a matrix, sort the rows (either in ascending or descending order) based on the values of column (column index given as an input to the function)."
### Do the checklist before filing the issue:

- [ ] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [ ] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-14 05:12] chichra commented on #159
@pbiswas101 Similarly, this can be extended to sorting the columns of a matrix based on a row index.

For example , given matrix
M = [[3 2 1]
        [4 6 5]
        [3 4 2]]

Sorting the rows by last column gives.

M = [[3 2 1]
        [3 4 2]
        [4 6 5]]

[2019-04-15 13:48] pbiswas101 commented on #159
@chichra can you be more specific on this:

I mean are you talking about just swapping two rows? and how do the sorting works? In the example you mentioned, what if the last row was `[ 3 4 7 ]` and how this would affect the outcome!

[2019-04-15 13:51] pbiswas101 commented on #158
Okay, make it a binary tree!

[2019-04-15 13:52] sateslayer commented on #158
I'll make the requisite changes in the issue above?

[2019-04-15 14:04] pbiswas101 commented on #158
okay

[2019-04-15 14:21] pbiswas101 opened #160 "Documentation: Average & Median"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [ ] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-15 14:47] devRD commented on #160
Can I work on this?

[2019-04-15 15:06] pbiswas101 commented on #160
@devRD you're assigned

[2019-04-15 15:16] pbiswas101 opened #161 "Documentation: Count & Length"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-15 15:34] viditkumar commented on #159
@pbiswas101 I suppose, she is talking about swapping the two rows. If the last row was [ 3 4 7 ], please look at the below example.

M =
[[3 2 1]
[4 6 5]
[3 4 7]]

Sorting the rows by last column gives.
M =
[[3 2 1]
[4 6 5]
[3 4 7]]

There is no swapping required in the above scenario.
If this issue is fine and gets accepted, I would like to work on it.

[2019-04-15 15:36] viditkumar commented on #157
If no one is working on it, I would like to get this issue assigned to me.

[2019-04-15 15:39] devRD commented on #161
can I work on this?

[2019-04-15 16:18] sakshichahal53 commented on #159
For sorting rows by a column number let say  2, we have to look upon sorting the numbers in the given column. And accordingly the rows are swapped.
Given :
M= [[1 2 10],
       [4 6 5],
       [2 4 7]]

Sorting rows by 1 column gives: Since numbers in first column are 3 4 3 sorted = (3 3 4), we have
A= [[1 2 10],
       [2 4 7],
       [4 6 5]]

Sorting rows by 2 column gives: Since numbers in sec

[2019-04-15 17:09] #160 closed

[2019-04-15 17:09] pbiswas101 commented on #161
@devRD you're assigned

[2019-04-15 17:14] pbiswas101 commented on #157
@viditkumar you're assigned and please follow the same documentation pattern with modifications as required since **Matrix** is a constructor and quite different than other modules for which documentation exists and you need to briefly explain all the methods along with examples (covering edge cases)

[2019-04-15 18:05] devRD commented on #161
@pbiswas101 Is `count()` supposed to return 0, when there are more than two arguments?

[2019-04-15 19:04] chichra commented on #159
@sakshichahal53  yes absolutely, that is what I wanted.

[2019-04-15 19:17] chichra commented on #159
@pbiswas101  as I mentioned earlier that similarly, this can be extended to sorting the columns of a matrix based on a row index.

For example , given matrix the same matrix, If i wish to sort (rather rearrange) the columns of matrix based on the values of row 1

Original matrix is
M =
[[3 2 1]
[4 6 5]
[3 4 2]]

Sorting the columns by row indices gives.

sorted matrix M(based on row 1)=
[[1 2 3]
[

[2019-04-16 14:05] sateslayer commented on #159
I have a doubt: How will this help in competitive programming?

[2019-04-16 14:25] pbiswas101 commented on #161
@devRD, `count()` is supposed to throw an error, if there are more than 2 arguments and can you please rectify the implementation for this part?

[2019-04-16 14:27] devRD commented on #161
Okay, I'll correct it. 🙂

[2019-04-16 14:34] #158 closed

[2019-04-16 14:39] pbiswas101 commented on #159
@chichra will you be working on this issue?

[2019-04-16 14:45] sateslayer opened #164 "Implement AVL trees using Binary Tree."
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-16 14:45] sateslayer commented on #164
I would like to work on this.

[2019-04-16 15:28] chichra commented on #159
@pbiswas101  yes

[2019-04-16 15:33] nilshah98 opened #165 "Documentation Binomial Coefficiant"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-16 15:37] pbiswas101 commented on #159
@chichra okay, how are you planning to implement this?
please provide code snippets so as to show the usage of this function in terms of a matrix `a`,
[code]

[2019-04-16 15:38] nilshah98 opened #166 "Documentation Permute"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-16 15:42] nilshah98 opened #167 "Documentation Eueler's Totient"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-16 16:52] vsharma20v commented on #165
@nilshah98  @pbiswas101 can I take this issue?

[2019-04-16 17:09] viditkumar commented on #157
@pbiswas101 I have created pull request. Please review and let me know if any further change is required.

[2019-04-16 20:52] sweezy793 commented on #166
I would like to work on this.

[2019-04-17 04:41] chichra commented on #159
a.sort('row', 0) to sort the based
output will be
[[1 2 3]
[5 6 4]
[2 4 3]]

a.sort('column', 0)
[[3 2 1]
[3 4 2]
[4 6 5]]

The first parameter in function signature represents if we want to sort based on row/column and the second parameter denotes the index.

[2019-04-17 05:10] Manvityagi commented on #167
May I work on this!

[2019-04-17 06:03] chichra opened #170 "Implement DFS for graph"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-17 06:08] sakshichahal53 opened #171 "Famous Hexagonal Numbers for Mathematical problems"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [ ] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-17 12:44] sateslayer commented on #164
Can I take another day for this one? I couldn't work on it in the morning and hardly have any time now. I can finish it by 7pm tomorrow evening though. Is that fine?

[2019-04-17 14:01] devRD commented on #161
@pbiswas101 Is the `convert()` function giving less coverage?

[2019-04-17 14:33] pbiswas101 commented on #164
Sure @sateslayer

[2019-04-17 14:36] pbiswas101 commented on #165
@vsharma20v you're assigned

[2019-04-17 14:38] pbiswas101 commented on #166
@sweezy793 you're assigned

[2019-04-17 14:39] pbiswas101 commented on #167
@Manvityagi you're assigned

[2019-04-17 15:49] pbiswas101 commented on #161
@devRD yes it is!

[2019-04-17 15:49] #161 closed

[2019-04-17 15:54] devRD commented on #161
@pbiswas101 Can I create a new issue on the coverage of `count()` and work on it?

[2019-04-17 16:03] pbiswas101 commented on #159
@chichra this issue is more or less similar to issue #152 and the sorting also need to include both ascending / descending order as mentioned in the PR #169

So, the overall implementation would be:
[code]

where 2nd and 3rd arguments are optional! If the 3rd argument is to be omitted, then the behavior of sorting would go along as mentioned in issue #152

Hence, once that issue is resolved you ma

[2019-04-17 16:06] pbiswas101 commented on #161
@devRD sure

[2019-04-17 16:12] devRD opened #173 "Improving Coverage of Convert()"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [x] Is this a **bug fix**?
- [ ] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-17 16:13] devRD commented on #173
I would like to work on this.

[2019-04-17 16:14] pbiswas101 commented on #173
@devRD I think you meant convert?

[2019-04-17 16:15] devRD commented on #173
Yes, sorry, I corrected it.

[2019-04-17 18:30] sakshichahal53 commented on #171
I'd like to work on this.

[2019-04-17 18:39] sakshichahal53 commented on #152
package-lock.json file has been automatically updated due to the installation of node modules for "npm run test". The final files in the upstream and origin are same when compared.
I have not made any changes to the package-lock.json file.

[2019-04-17 19:48] chichra commented on #170
I would want to implement this algo.

[2019-04-17 19:50] chichra commented on #159
Yes, sure.

[2019-04-18 14:57] #157 closed

[2019-04-18 15:01] #173 closed

[2019-04-18 15:07] #166 closed

[2019-04-18 15:14] #165 closed

[2019-04-18 15:18] pbiswas101 commented on #164
@sateslayer your time's up

[2019-04-18 15:22] pbiswas101 commented on #152
@sakshichahal53 still your PR is including changes to files that have been made in the previous PRs.

[2019-04-18 15:25] pbiswas101 commented on #171
@sakshichahal53 you're already assigned to the issue #152
One issue is assigned to each contributor at a time. First, resolve that and then I'll assign you to this one (given that no one claims it by that time)

[2019-04-18 17:57] Manvityagi commented on #164
Can I take this if my previous pr is merged?

[2019-04-19 12:54] devRD commented on #164
can I work on this?

[2019-04-19 15:22] #152 closed

[2019-04-19 15:29] pbiswas101 commented on #164
@devRD you're assigned and check the issue #158 for more details. Include all the public methods mentioned there.

[2019-04-20 14:04] #167 closed

[2019-04-20 14:06] #171 closed

[2019-04-20 14:36] pbiswas101 opened #180 "Documentation: Find nth Number, Number Checker, Range of Number"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-20 17:51] Manvityagi commented on #180
Can I take this ?

[2019-04-20 21:24] sweezy793 commented on #180
I would like to work on this

[2019-04-21 05:06] sakshichahal53 opened #181 "Documentation: Hexagonal Numbers"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

[2019-04-21 06:00] sakshichahal53 opened #182 "Number conversion"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [ ] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-21 06:08] pbiswas101 commented on #180
@Manvityagi you're assigned

[2019-04-21 06:10] pbiswas101 commented on #181
@sakshichahal53 there won't be any separate document for Hexagonal Number. It's already included in issue #180

[2019-04-21 06:10] #181 closed

[2019-04-21 06:24] sakshichahal53 commented on #182
@pbiswas101, please do let know what kind of issues would be put under the wontfix label so that I'd not be opening such issues.

[2019-04-21 07:06] pbiswas101 commented on #182
@sakshichahal53 this is a very trivial implementation which already exists within JavaScript  itself. So, there's no point  reimplementing it again, right!

[2019-04-21 07:28] sweezy793 opened #183 "Documentation: Convert"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-21 07:29] sweezy793 commented on #183
I will be working on this

[2019-04-21 08:18] devRD commented on #164
@pbiswas101 Can you please assign this task to someone else? I had some emergency and was unable to work on it.

[2019-04-21 08:29] sakshichahal53 commented on #182
Okay, yes!

[2019-04-21 15:51] #182 closed

[2019-04-21 15:57] #115 closed

[2019-04-22 14:32] #183 closed

[2019-04-22 14:41] pbiswas101 opened #185 "Documentation: Complex Number"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-22 14:46] sweezy793 commented on #185
I want to work on this

[2019-04-22 14:46] pbiswas101 opened #186 "Documentation: Set Bits"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-22 14:47] pbiswas101 commented on #185
@sweezy793 you're assigned

[2019-04-22 15:52] vsharma20v commented on #186
@pbiswas101 can I take this issue?

[2019-04-22 16:09] pbiswas101 commented on #186
@vsharma20v you're assigned

[2019-04-23 09:33] #186 closed

[2019-04-23 15:31] pbiswas101 opened #189 "Documentation: Absolute, Addition, Subtract, Multiply, Divide"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-23 15:32] devRD commented on #189
can I work on this?

[2019-04-23 15:33] pbiswas101 commented on #189
@devRD you're assigned

[2019-04-24 03:16] gourabk121 commented on #164
I would like to do that. gssoc19

[2019-04-25 07:18] sakshichahal53 opened #192 "Find GCD of two floating point numbers"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-25 16:01] #180 closed

[2019-04-25 16:01] #189 closed

[2019-04-25 16:03] pbiswas101 commented on #164
@gourabk121 are you a `gssoc19` participant?

[2019-04-25 16:06] pbiswas101 commented on #192
@sakshichahal53 implement it inside the existing gcd module

[2019-04-30 09:50] sweezy793 opened #194 "Documentation: Stack class"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-04-30 09:50] sweezy793 commented on #194
I would like to work on this

[2019-04-30 14:22] pbiswas101 commented on #194
@sweezy793 I think there's already a Stack implementation

[2019-04-30 14:25] sweezy793 commented on #194
But the stack index.md file in docs folder is empty

[2019-04-30 14:32] pbiswas101 commented on #194
@sweezy793 oh yes... you're right!

[2019-05-01 14:37] #194 closed

[2019-05-01 15:15] sweezy793 opened #197 "Documentation: Graph Class"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-05-03 14:27] #197 closed

[2019-05-07 06:15] pydevsg commented on #192
I would like to grab this issue @pbiswas101 .

[2019-05-13 13:09] pbiswas101 commented on #192
@sakshichahal53 since you haven't made any PR related to this issue during the last 3 weeks I'm assigning this issue to @pydevsg

[2019-05-14 19:34] chetanchougle commented on #170
Sure , would be interested to implement it

[2019-05-15 07:28] chetanchougle commented on #170
Could you pls assign this to me ?

[2019-05-15 09:05] pbiswas101 commented on #170
@chetanchougle are you a `gssoc` participant?

[2019-05-15 10:42] chetanchougle commented on #170
I tried to register as participant but the gssoc site asked to contact owner .

[2019-05-15 15:01] pbiswas101 commented on #192
@pydevsg your time's up

[2019-05-15 15:02] pbiswas101 commented on #170
@chetanchougle this issue is only for `gssoc19` participants

[2019-05-15 15:29] chetanchougle commented on #170
ok I actually thought this was for Open contributions for anyone . Perhaps you can make this private repo instead .

[2019-05-15 15:48] harsha-iiiv commented on #192
@pbiswas101

[2019-05-15 16:20] harsha-iiiv opened #199 "Union of two arrays"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [ ] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-05-16 02:08] sakshichahal53 commented on #170
Actually, some particular issues have been tagged as gssoc, you see @chetanchougle, only those issues are specifically for gssoc participants. If you want to contribute, you can raise an issue yourself to work on or work on some unassigned issue which has not been tagged as gssoc.

[2019-05-17 06:15] pbiswas101 commented on #199
Will you be working on this issue? If **yes**, then provide the implementation like so:
[code]

[2019-05-17 06:16] pbiswas101 commented on #192
@harsha-iiiv you're assigned

[2019-05-17 17:44] sateslayer commented on #199
I will like to work on this, if no one has claimed the issue already.

[2019-05-17 17:57] harsha-iiiv commented on #199
I am working on this issue @sateslayer

[2019-05-17 18:24] sateslayer commented on #199
Oh ok, sorry. It was labelled up-for-grabs... Sorry.

[2019-05-17 18:25] sateslayer commented on #170
I would like to work on this, if no one else has already claimed the issue.

[2019-05-18 09:04] pbiswas101 commented on #192
@harsha-iiiv you're assigned this issue and not #199

[2019-05-18 09:05] pbiswas101 commented on #170
@sateslayer you're assigned

[2019-05-18 09:09] pbiswas101 commented on #199
@harsha-iiiv I've already assigned you issue #192
First complete that and then if no one claimed this one by that time, then first comment that you'll be working and only after assigning, should you make a PR

[2019-05-18 09:14] harsha-iiiv commented on #192
Actually, I had created 'union function' before I created issue #199 .

[2019-05-19 13:46] #170 closed

[2019-05-19 14:46] sateslayer commented on #199
I would like to work on this issue, unless @harsha-iiiv has already started working on this. In which case, I request you to mention that you have done so.

[2019-05-19 15:57] pbiswas101 commented on #199
@sateslayer you're assigned

[2019-05-21 15:35] #199 closed

[2019-05-26 15:15] nilshah98 opened #206 "Add documentation for Modular Inverse"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-05-26 15:17] nilshah98 opened #207 "Add documentation for Priority Queue"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-05-26 15:18] devRD commented on #206
can I work on this?

[2019-05-26 15:21] nilshah98 commented on #206
Yes, you can once it is tagged.

[2019-05-26 15:58] devRD commented on #206
can I make a PR now? Can it be tagged later?

[2019-05-26 16:13] pbiswas101 commented on #206
@devRD you're assigned

[2019-05-26 18:31] vsharma20v commented on #207
@nilshah98 can u assign this issue to me?

[2019-05-26 18:51] pbiswas101 commented on #207
@vsharma20v you're assigned

[2019-05-27 08:25] sateslayer opened #209 "Update Graph documentation"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [ ] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-05-27 08:26] sateslayer commented on #209
I would like to work in this issue, provided that the graph feature is not going to be taken out in subsequent versions of Mathball. Otherwise the issue is pointless and can be closed.

[2019-05-27 09:46] devRD opened #210 "Add documentation of Pow"
### Do the checklist before filing the issue:

- [x] Do you have Node.js and all the relevant dev-dependencies installed?
- [ ] Is this a **bug fix**?
- [x] Is this an **enhancement**?
- [x] Is this a **feature request**?

###### NOTE: Provide a clear and concise description of the feature that needs to be added! Or if its a bug, then provide the necessary steps to reproduce it along with screensh

[2019-05-27 13:19] #206 closed

[2019-05-27 13:24] pbiswas101 commented on #209
@sateslayer no promise can be made regarding that but since mathball currently supports graph, it should also include the details in the documentation as well!

[2019-05-27 13:25] pbiswas101 commented on #192
@harsha-iiiv your time's up for this issue

[2019-05-27 15:41] #210 closed

[2019-05-27 17:23] sateslayer commented on #209
It's not about that, it's whether his issue is going to be worthwhile or not😅

[2019-05-27 17:46] pbiswas101 commented on #209
@sateslayer probably not!

[2019-05-28 09:04] #209 closed

[2019-05-28 09:05] #207 closed

[2019-05-28 13:02] BenEddi commented on #192
I would like to work on this issue.

[2019-06-08 08:03] Brendo64 commented on #192
I believe I have implemented this enhancement, though it only works with a predefined number of decimal places and is limited by Number.MAX_VALUE. May I please be assigned to this issue?

[2019-06-19 13:40] fave77 commented on #192
@Brendo64 you're assigned

[2019-08-29 15:51] fBruzja commented on #192
I would like to work on this issue